html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-track {
    background: var(--pure-white);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: var(--green-gradient);
    border-radius: 8px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pure-white);
}

.header__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--gunmetal);
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav__list li {
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
    color: var(--gunmetal);
    position: relative;
}

.nav__list li::before {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
    bottom: -5px;
    display: block;
    width: 0;
    height: 2px;
    background: var(--green-gradient);
    transition: var(--tr);
}

.nav__list li:hover::before {
    left: 50%;
    width: 100%;
}

.nav__product {
    font-size: var(--fs-24);
    font-weight: var(--fw-600);
}

.nav button {
    padding: 10px 20px;
}

.menu {
    display: none;
    cursor: pointer;
}

.hero__description {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    gap: 20px;
}

.hero__title {
    font-size: var(--fs-60);
    font-weight: var(--fw-600);
    color: var(--gunmetal);
}

.hero__description--words {
    font-size: var(--fs-20);
    font-weight: var(--fw-400);
    color: var(--gunmetal);
    max-width: 600px;
}

.hero-image {
    width: 750px;
}

.hero button {
    padding: 10px 30px;
}

.hero button:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px -4px rgba(82, 226, 89, 0.6);
}

.maximum {
    background-color: var(--ghost-white);
    width: 100%;
    padding: 3rem;
}

.features {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
}

.features-item {
    background-color: var(--pure-white);
    border-radius: 30px;
    padding: 35px;
    box-shadow: var(--bx-shw);
}

.features-item-one {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
}

.features-item-two {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
}

.features-item-three {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 3;
    height: 350px;
}

.features-item-four {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 3;
    height: 350px;
}

.features-item-five {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 3;
    height: 350px;
}

.features-item-six {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 6;
    margin-top: -6rem;
    height: 310px;
}

.features-item-seven {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 6;
    margin-top: -6rem;
    height: 310px;
}

.features-item-image {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--fs-24);
    font-weight: var(--fw-600);
    color: var(--gunmetal);
    margin-bottom: 1rem;
}

.features-description {
    color: var(--flint);
    font-size: var(--fs-16);
    margin-bottom: 2rem;
}

.features-item button {
    padding: 10px 30px;
    border-radius: 1000px;
    background-color: transparent;
    border: 2px solid var(--chateau-green);
    color: var(--chateau-green);
    transition: var(--tr);
}

.features-item button:hover {
    background-color: var(--chateau-green);
    color: var(--pure-white);
}

.special__features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--snowy-mint);
    padding: 25px 35px;
    border-radius: 60px;
    box-shadow: var(--bx-shw);
}

.special__features--title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gift__special--features {
    color: var(--chateau-green);
    font-size: var(--fs-18);
}

.special__features button {
    padding: 12px 30px;
    background-color: var(--chateau-green);
    border: 2px solid transparent;
    border-radius: 1000px;
    color: var(--pure-white);
    transition: var(--tr);
}

.special__features button:hover {
    background-color: transparent;
    color: var(--chateau-green);
    border: 2px solid var(--chateau-green);
}

.reasons {
    color: var(--gunmetal);
    font-size: var(--fs-28);
    font-weight: var(--fw-600);
    padding-bottom: 3rem;
}

.benifit-cards {
    display: flex;
    gap: 20px;
}

.benifit-card-title {
    color: var(--dark-slate-gray);
    font-size: var(--fs-24);
    font-weight: var(--fw-600);
    text-align: center;
    margin: 1rem 0;
}

.icon-and-words {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.benifit-card-description {
    color: var(--dark-slate-gray);
}

.benifit-card {
    background-color: var(--pure-white);
    padding: 35px;
    display: flex;
    color: var(--dark-slate-gray);
    line-height: 25px;
    font-size: var(--fs-20);
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
    box-shadow: var(--bx-shw);
}

.green {
    background-color: var(--soft-green);
}

.greenish {
    background-color: var(--snowy-mint);
    padding: 4rem 7rem;
}

.popular__products .container {
    position: relative;
}

.popular__products--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.popular__products--title {
    font-size: var(--fs-28);
    font-weight: var(--fw-600);
}

.popular__products--header button {
    border-radius: 1000px;
    padding: 15px 30px;
}

.left {
    position: absolute;
    left: -2.6rem;
    top: 55%;
    transition: var(--tr);
}

.right {
    position: absolute;
    right: -2.6rem;
    top: 55%;
    transition: var(--tr);
}

.left path,
.right path {
    color: var(--flint);
    transition: var(--tr);
}

.left path:hover,
.right path:hover {
    stroke: var(--forest-green);
}

.popular__products--cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.popular__products--card {
    background-color: var(--pure-white);
    padding: 35px;
    display: flex;
    line-height: 25px;
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
    box-shadow: var(--bx-shw);
}

.popular__products--card--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular__products--card--title {
    color: var(--gunmetal);
    font-size: var(--fs-20);
    font-weight: var(--fw-600);
}

.price {
    background-color: transparent;
    border: 2px solid var(--chateau-green);
    color: var(--chateau-green);
    padding: 2px 10px;
    font-size: var(--fs-14);
    font-weight: var(--fw-600);
    border-radius: 1000px;
}

.popular__products--card--list {
    list-style-type: disc;
    color: var(--light-gray);
    margin-left: 1rem;
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
}

.more-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--chateau-green);
    font-weight: var(--fw-500);
    font-size: var(--fs-16);
    transition: var(--tr);
    margin-left: 15rem;
}

.more-link .arrow {
    transition: var(--tr);
}

.more-link:hover {
    color: var(--forest-green);
}

.more-link:hover .arrow {
    transform: translateX(4px);
}

.last {
    margin-top: 3rem;
}

.contact-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pure-white);
    padding: 35px;
    gap: 70px;
    box-shadow: var(--bx-shw);
    border-radius: 30px;
}

.contact-us-title {
    font-size: var(--fs-26);
    color: var(--gunmetal);
    font-weight: var(--fw-600);
    margin-bottom: 2rem;
}

.if {
    font-size: var(--fs-16);
    color: var(--gunmetal);
    font-weight: var(--fw-400);
    width: 700px;
}

.green-text {
    transition: var(--tr);
    color: var(--forest-green);
}

.number {
    font-weight: var(--fw-600);
    font-size: var(--fs-20);
    color: var(--forest-green);
}

.green-card {
    background-color: var(--snowy-mint);
    padding: 3rem 35px;
    border-radius: 40px;
}

.you-can-contact {
    color: var(--gunmetal);
    font-weight: var(--fw-400);
    font-size: var(--fs-18);
    width: 400px;
}

.soft-text {
    color: var(--flint);
    font-size: var(--fs-14);
    font-weight: var(--fw-400);
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.store-types {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.store-types .more-link {
    margin: 1rem 0;
}

.many-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: var(--pure-white);
    padding: 35px;
    width: 620px;
    border-radius: 20px;
    box-shadow: var(--bx-shw);
}

.cards-title {
    font-size: var(--fs-20);
    font-weight: var(--fw-600);
    margin-bottom: 1rem;
    color: var(--gunmetal);
}

.second-title {
    font-size: var(--fs-14);
    color: var(--flint);
    margin-bottom: 1rem;
}

.third-title {
    font-size: var(--fs-14);
    color: var(--flint);
}

.for-others {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.for-others .more-link {
    margin: 1rem 0;
}

.section-title {
    font-size: var(--fs-26);
    font-weight: var(--fw-600);
    color: var(--gunmetal);
}

.two-photos {
    display: none;
}

.contacts-section {
    background: var(--green-gradient);
    padding: 4rem 35px;
    border-radius: 20px;
}

.contact-card {
    display: flex;
    justify-content: space-between;
}

.contact-card-title {
    color: var(--ghost-white);
    font-size: var(--fs-28);
    margin-bottom: 1rem;
}

.contact-card-description {
    color: var(--ghost-white);
    font-size: var(--fs-18);
    font-weight: var(--fw-400);
    margin-bottom: 1rem;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 600px;
}

.second label {
    color: var(--ghost-white);
    margin-bottom: 10px;
}

.second input {
    width: 100%;
    height: 40px;
    padding-left: 1rem;
    border-radius: 1000px;
    margin-bottom: 2rem;
    border: 1px solid transparent;
}

.second::placeholder {
    color: var(--flint);
}

.button-side {
    display: flex;
    align-items: start;
}

.click {
    color: var(--ghost-white);
    font-size: var(--fs-14);
    line-height: 20px;
}

.black-text {
    color: var(--gunmetal);
}

.second button {
    background-color: var(--gunmetal);
    color: var(--ghost-white);
    padding: 12px 30px;
    border-radius: 1000px;
    transition: var(--tr);
}

.second button:hover {
    background-color: var(--ghost-white);
    color: var(--gunmetal);
}

.quetions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3rem;
}

.quetion {
    background-color: var(--pure-white);
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    border-radius: 1000px;
    box-shadow: var(--bx-shw);
}

.flex_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quetion-title {
    color: var(--gunmetal);
    font-size: var(--fs-20);
    font-weight: var(--fw-500);
}

.faq__answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.faq__answer.active {
    max-height: 300px; 
    opacity: 1;
}

.faq__answer p {
    padding-top: 15px; 
    padding-bottom: 10px;
}

.help {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.help.active {
    transform: rotate(90deg);
}

.help.active path {
    stroke: var(--forest-green);
}

.greenish-card {
    background: var(--green-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px 35px;
    border-radius: 1000px;
    box-shadow: var(--bx-shw);
}

.greenish-card button {
    background-color: var(--pure-white);
    color: var(--chateau-green);
    padding: 10px 25px;
    border-radius: 1000px;
    transition: var(--tr);
}

.greenish-card button:hover {
    background-color: var(--gunmetal);
    color: var(--pure-white);
}

.greenish-card-title {
    color: var(--pure-white);
    font-size: var(--fs-20);
}

.inteligence {
    position: relative;
}

.section--title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.section--title button {
    padding: 10px 30px;
}

.beautiful-cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.beautiful-card img {
    width: 450px;
    height: 150px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: var(--tr);
}

.beautiful-card img:hover {
    transform: scale(1.032);
}

.hidden {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.beautiful-card {
    background-color: var(--pure-white);
    box-shadow: var(--bx-shw);
    border-radius: 12px;
    height: 300px;
    position: relative;
}

.inteligence .left {
    position: absolute;
    left: -2rem;
    top: 60%;
}

.inteligence .right {
    position: absolute;
    right: -2rem;
    top: 60%;
}

.beautiful-card-title {
    color: var(--dark-slate-gray);
    font-size: var(--fs-20);
    margin: 35px;
    font-weight: var(--fw-600);
}

.read-more {
    color: var(--chateau-green);
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    transition: var(--tr);
}

.read-more:hover {
    color: var(--forest-green);
}

.companies-name {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 3rem;
}

.icon4 {
    position: absolute;
    left: 36.8rem;
    top: 1.5rem;
}

footer {
    background-color: var(--gunmetal);
    padding: 2rem 0 2rem 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.rozn {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--pure-white);
    font-size: var(--fs-24);
}

.contacts--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.line {
    color: var(--gray);
}

.lines {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.num {
    font-size: var(--fs-24);
    color: var(--pure-white);
    transition: var(--tr);
}

.num:hover {
    color: var(--chateau-green);
}

.footer button {
    padding: 10px 25px;
}

.small-words {
    color: var(--pure-white);
    font-weight: var(--fw-400);
    margin: 2rem 0;
}

.green-word {
    transition: var(--tr);
}

.green-word:hover {
    color: var(--chateau-green);
}

.smaller {
    color: var(--chateau-green);
    transition: var(--tr);
}

.smaller:hover {
    color: var(--pure-white);
}

.footer-list-title {
    color: var(--pure-white);
    font-weight: var(--fw-600);
    font-size: var(--fs-20);
    margin-bottom: 1.6rem;
}

.footer-list a li {
    color: var(--pure-white);
    margin-bottom: 1rem;
    transition: var(--tr);
    font-weight: var(--fw-300);
}

.footer-list a li:hover {
    color: var(--chateau-green);
}

.bottom-of-footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--flint);
    padding-top: 2rem;
}

.bottom {
    color: var(--flint);
}

.hidden {
    display: none;
}

.mobile_nav {
    display: none;
}

.nav__list {
    margin-top: -2.5rem;
}

.btn {
    display: none;
}